@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --color-primary: rgb(75, 38, 143);
  --color-secondary: rgb(107, 154, 199);
  --color-accent: rgb(119, 112, 150);
  --color-warning: rgb(202, 121, 45);
  --color-danger: rgb(180, 25, 14);
  --color-success: rgb(77, 137, 101);
  --color-dark: rgb(25, 28, 38);
  --color-light: rgb(226, 222, 231);
  --color-info: rgb(25, 28, 38);
  --logo-color: rgb(225, 222, 230);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--color-dark);
  background: var(--logo-color);
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

h1 {
  @apply text-4xl font-bold capitalize;
}

.blur-img {
  view-transition-name: blur-image;
}
